## 1. 选取飞机制造相关股票代码

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import tushare as ts
import warnings; warnings.simplefilter('ignore') #忽略可能会出现的警告信息，警告并不是错误，可以忽略；

In [2]:
industry_classified = ts.get_industry_classified()

In [3]:
industry_classified.head()

     code  name c_name
0  600051  宁波联合   综合行业
1  600209  罗顿发展   综合行业
2  600212  江泉实业   综合行业
3  600256  广汇能源   综合行业
4  600576  祥源文化   综合行业

In [4]:
aero_industry = industry_classified[industry_classified['c_name'].isin(['飞机制造'])]

In [103]:
aero_industry

       code  name c_name
623  600038  中直股份   飞机制造
624  600118  中国卫星   飞机制造
625  600316  洪都航空   飞机制造
626  600343  航天动力   飞机制造
627  600372  中航电子   飞机制造
628  600391  航发科技   飞机制造
629  600879  航天电子   飞机制造
630  600893  航发动力   飞机制造
631  000738  航发控制   飞机制造
632  000768  中航飞机   飞机制造
633  000901  航天科技   飞机制造
634  002023  海特高新   飞机制造
635  002111  威海广泰   飞机制造
636  300424  航新科技   飞机制造

In [5]:
aero_industry_code = aero_industry['code'].tolist()

In [6]:
aero_industry_code

['600038',
 '600118',
 '600316',
 '600343',
 '600372',
 '600391',
 '600879',
 '600893',
 '000738',
 '000768',
 '000901',
 '002023',
 '002111',
 '300424']

## 2. 获取相关股票基本面数据

In [7]:
stock_basics = ts.get_stock_basics()

In [8]:
stock_basics.head()

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
603227,雪峰科技,化工原料,新疆,0.00,6.59,6.59,258442.75,122302.85,88859.90,32439.80,...,1.71,2.68,20150515,8330.42,0.13,115.78,26.52,8.59,-6.27,42527.0
600326,西藏天路,建筑施工,西藏,83.71,8.65,8.65,777049.25,411076.59,265231.16,80389.56,...,3.10,2.61,20010116,91764.46,1.06,8.76,-49.69,29.27,4.16,108406.0
600425,青松建化,水泥,新疆,37.62,13.79,13.79,967709.19,202008.20,543137.44,320171.16,...,2.98,1.21,20030724,-60011.60,-0.44,30.29,153.84,27.39,6.94,81138.0
600278,东方创业,商贸代理,上海,28.02,5.22,5.22,809394.06,476305.75,92595.86,96109.74,...,7.79,1.39,20000712,124624.30,2.39,27.15,16.99,4.42,1.10,29100.0
000509,华塑控股,其他建材,四川,0.00,8.25,8.25,24894.26,18130.70,1169.06,21226.06,...,0.05,75.14,19930507,-102324.15,-1.24,585.13,-0.01,0.55,-0.78,63186.0

In [29]:
stock_basics.reset_index(inplace=True)      #reset_index重置dataFrame的索引
stock_basics.head()

,level_0,index,code,name,industry,area,pe,outstanding,totals,totalAssets,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
0,0,0,603227,雪峰科技,化工原料,新疆,0.00,6.59,6.59,258442.75,...,1.71,2.68,20150515,8330.42,0.13,115.78,26.52,8.59,-6.27,42527.0
1,1,1,600326,西藏天路,建筑施工,西藏,83.71,8.65,8.65,777049.25,...,3.10,2.61,20010116,91764.46,1.06,8.76,-49.69,29.27,4.16,108406.0
2,2,2,600425,青松建化,水泥,新疆,37.62,13.79,13.79,967709.19,...,2.98,1.21,20030724,-60011.60,-0.44,30.29,153.84,27.39,6.94,81138.0
3,3,3,600278,东方创业,商贸代理,上海,28.02,5.22,5.22,809394.06,...,7.79,1.39,20000712,124624.30,2.39,27.15,16.99,4.42,1.10,29100.0
4,4,4,000509,华塑控股,其他建材,四川,0.00,8.25,8.25,24894.26,...,0.05,75.14,19930507,-102324.15,-1.24,585.13,-0.01,0.55,-0.78,63186.0

In [30]:
data = stock_basics.loc[stock_basics['code'].isin(aero_industry_code),        
                         ['code', 'name', 'industry', 'pe', 'pb', 'esp','rev', 'profit',]]
data

        code  name industry      pe    pb    esp    rev  profit
762   002023  海特高新       航空   63.52  2.61  0.047   0.96  229.91
1594  600118  中国卫星       航空   89.96  4.12  0.051  13.63    3.27
1626  002111  威海广泰       航空   20.03  1.54  0.133  15.45   24.30
2055  000738  航发控制       航空   67.64  3.03  0.051  -2.62   58.93
2362  600893  航发动力       航空    0.00  1.97 -0.026   1.80   36.03
2371  300424  航新科技       航空  638.20  5.56  0.008  -4.52    7.44
2505  600879  航天电子       航空   44.39  1.54  0.037   9.53   10.17
2534  600391  航发科技       航空    0.00  2.61 -0.035  -3.38 -465.28
2629  600316  洪都航空       航空    0.00  1.32 -0.029 -52.33   27.31
2879  000901  航天科技       航空    0.00  1.62 -0.017  -0.41 -148.87
2975  600343  航天动力       航空  424.27  2.67  0.005 -11.59  -37.01
3016  000768  中航飞机       航空  387.47  2.66  0.010  67.65  130.76
3246  600038  中直股份       航空   73.85  2.85  0.120   2.54   -0.49
3403  600372  中航电子       航空    0.00  3.17 -0.034  -0.83 -128.39

In [31]:
data.columns = ['代码','名称','行业','PE','PB','EPS','收入%','利润%']
data

          代码    名称  行业      PE    PB    EPS    收入%     利润%
762   002023  海特高新  航空   63.52  2.61  0.047   0.96  229.91
1594  600118  中国卫星  航空   89.96  4.12  0.051  13.63    3.27
1626  002111  威海广泰  航空   20.03  1.54  0.133  15.45   24.30
2055  000738  航发控制  航空   67.64  3.03  0.051  -2.62   58.93
2362  600893  航发动力  航空    0.00  1.97 -0.026   1.80   36.03
2371  300424  航新科技  航空  638.20  5.56  0.008  -4.52    7.44
2505  600879  航天电子  航空   44.39  1.54  0.037   9.53   10.17
2534  600391  航发科技  航空    0.00  2.61 -0.035  -3.38 -465.28
2629  600316  洪都航空  航空    0.00  1.32 -0.029 -52.33   27.31
2879  000901  航天科技  航空    0.00  1.62 -0.017  -0.41 -148.87
2975  600343  航天动力  航空  424.27  2.67  0.005 -11.59  -37.01
3016  000768  中航飞机  航空  387.47  2.66  0.010  67.65  130.76
3246  600038  中直股份  航空   73.85  2.85  0.120   2.54   -0.49
3403  600372  中航电子  航空    0.00  3.17 -0.034  -0.83 -128.39

In [12]:
# 获取盈利能力数据
stock_profit = ts.get_profit_data(2018,1)
stock_profit.head()

[Getting data:]###########################################################

,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
0,600247,*ST成城,87.97,136.69,12.0412,27.2591,0.0810,19.9417,0.0592
1,000720,*ST新能,34.33,139.69,18.0587,580.7119,0.4502,415.6941,0.3223
2,300272,开能健康,31.59,221.06,30.9400,354.9058,0.8913,160.5411,0.4031
3,600319,亚星化学,25.92,2.24,10.8406,11.3322,0.0359,505.5381,1.6018
4,600671,天目药业,23.20,22.43,33.0300,20.2764,0.1665,90.3719,0.7420

In [13]:
data1 = stock_profit.loc[stock_profit['code'].isin(aero_industry_code), ['code', 'roe', 'gross_profit_rate', 'net_profit_ratio']]

In [32]:
data1.columns = ['代码', 'ROE', '毛利率', '净利率']
data1 = round(data1,2)
data1

          代码   ROE    毛利率    净利率
1352  002111  1.91  35.96  13.26
2038  600118  1.14  14.63   4.71
2060  000738  1.11  29.49  10.55
2152  002023  1.02  40.84  34.75
2202  600038  0.96  14.18   3.30
2302  600879  0.86  16.17   3.73
2890  300424  0.21  43.86   2.59
2927  000768  0.17   6.04   0.51
2939  600343  0.15  15.40   1.06
2940  600343  0.15  15.40   1.06
3077  600893 -0.22  18.08  -2.07
3085  000901 -0.27  19.13  -0.75
3117  600316 -0.42   6.73 -10.41
3167  600391 -0.65  20.53  -3.03
3192  600372 -0.84  28.67  -6.60

In [33]:
# 获取成长能力数据
# nprg:净利润增长率（%）  nav:净资产增长率
stock_growth = ts.get_growth_data(2018,1)
data2 = stock_growth.loc[stock_growth['code'].isin(aero_industry_code), ['code', 'nprg']]
data2.columns = ['代码', 'NI%', ]
data2 = round(data2,2)
data2

[Getting data:]###########################################################

          代码     NI%
90    002023  475.94
617   000738   61.33
1217  002111   22.13
1415  600879   14.39
1540  600118   10.24
1910  300424    0.04
1985  600038   -4.72
2396  600343  -33.16
2882  000901 -138.97
3268  600391     NaN
3326  000768     NaN
3351  600893     NaN

In [34]:
data = pd.merge(data ,data1, how='left', on='代码')
data

        代码    名称  行业      PE    PB    EPS    收入%     利润%   ROE    毛利率    净利率
0   002023  海特高新  航空   63.52  2.61  0.047   0.96  229.91  1.02  40.84  34.75
1   600118  中国卫星  航空   89.96  4.12  0.051  13.63    3.27  1.14  14.63   4.71
2   002111  威海广泰  航空   20.03  1.54  0.133  15.45   24.30  1.91  35.96  13.26
3   000738  航发控制  航空   67.64  3.03  0.051  -2.62   58.93  1.11  29.49  10.55
4   600893  航发动力  航空    0.00  1.97 -0.026   1.80   36.03 -0.22  18.08  -2.07
5   300424  航新科技  航空  638.20  5.56  0.008  -4.52    7.44  0.21  43.86   2.59
6   600879  航天电子  航空   44.39  1.54  0.037   9.53   10.17  0.86  16.17   3.73
7   600391  航发科技  航空    0.00  2.61 -0.035  -3.38 -465.28 -0.65  20.53  -3.03
8   600316  洪都航空  航空    0.00  1.32 -0.029 -52.33   27.31 -0.42   6.73 -10.41
9   000901  航天科技  航空    0.00  1.62 -0.017  -0.41 -148.87 -0.27  19.13  -0.75
10  600343  航天动力  航空  424.27  2.67  0.005 -11.59  -37.01  0.15  15.40   1.06
11  600343  航天动力  航空  424.27  2.67  0.005 -11.59  -37.01  0.15  15.40   1.06
12  000768  中航飞机  航空  387.47  2.66  0.010  67.65  130.76  0.17   6.04   0.51
13  600038  中直股份  航空   73.85  2.85  0.120   2.54   -0.49  0.96  14.18   3.30
14  600372  中航电子  航空    0.00  3.17 -0.034  -0.83 -128.39 -0.84  28.67  -6.60

In [35]:
data = pd.merge(data ,data2, how='left', on='代码')
data

,代码,名称,行业,PE,PB,EPS,收入%,利润%,ROE,毛利率,净利率,NI%
0,002023,海特高新,航空,63.52,2.61,0.047,0.96,229.91,1.02,40.84,34.75,475.94
1,600118,中国卫星,航空,89.96,4.12,0.051,13.63,3.27,1.14,14.63,4.71,10.24
2,002111,威海广泰,航空,20.03,1.54,0.133,15.45,24.30,1.91,35.96,13.26,22.13
3,000738,航发控制,航空,67.64,3.03,0.051,-2.62,58.93,1.11,29.49,10.55,61.33
4,600893,航发动力,航空,0.00,1.97,-0.026,1.80,36.03,-0.22,18.08,-2.07,NaN
5,300424,航新科技,航空,638.20,5.56,0.008,-4.52,7.44,0.21,43.86,2.59,0.04
6,600879,航天电子,航空,44.39,1.54,0.037,9.53,10.17,0.86,16.17,3.73,14.39
7,600391,航发科技,航空,0.00,2.61,-0.035,-3.38,-465.28,-0.65,20.53,-3.03,NaN
8,600316,洪都航空,航空,0.00,1.32,-0.029,-52.33,27.31,-0.42,6.73,-10.41,NaN
9,000901,航天科技,航空,0.00,1.62,-0.017,-0.41,-148.87,-0.27,19.13,-0.75,-138.97
10,600343,航天动力,航空,424.27,2.67,0.005,-11.59,-37.01,0.15,15.40,1.06,-33.16
11,600343,航天动力,航空,424.27,2.67,0.005,-11.59,-37.01,0.15,15.40,1.06,-33.16
12,000768,中航飞机,航空,387.47,2.66,0.010,67.65,130.76,0.17,6.04,0.51,NaN
13,600038,中直股份,航空,73.85,2.85,0.120,2.54,-0.49,0.96,14.18,3.30,-4.72
14,600372,中航电子,航空,0.00,3.17,-0.034,-0.83,-128.39,-0.84,28.67,-6.60,NaN

## 3. 相关企业成长性

In [36]:
# 根据已有列计算新数据
data['估值系数'] = data['PE'] * data['PB']
data = round(data,2)
data

,代码,名称,行业,PE,PB,EPS,收入%,利润%,ROE,毛利率,净利率,NI%,估值系数
0,002023,海特高新,航空,63.52,2.61,0.05,0.96,229.91,1.02,40.84,34.75,475.94,165.79
1,600118,中国卫星,航空,89.96,4.12,0.05,13.63,3.27,1.14,14.63,4.71,10.24,370.64
2,002111,威海广泰,航空,20.03,1.54,0.13,15.45,24.30,1.91,35.96,13.26,22.13,30.85
3,000738,航发控制,航空,67.64,3.03,0.05,-2.62,58.93,1.11,29.49,10.55,61.33,204.95
4,600893,航发动力,航空,0.00,1.97,-0.03,1.80,36.03,-0.22,18.08,-2.07,NaN,0.00
5,300424,航新科技,航空,638.20,5.56,0.01,-4.52,7.44,0.21,43.86,2.59,0.04,3548.39
6,600879,航天电子,航空,44.39,1.54,0.04,9.53,10.17,0.86,16.17,3.73,14.39,68.36
7,600391,航发科技,航空,0.00,2.61,-0.04,-3.38,-465.28,-0.65,20.53,-3.03,NaN,0.00
8,600316,洪都航空,航空,0.00,1.32,-0.03,-52.33,27.31,-0.42,6.73,-10.41,NaN,0.00
9,000901,航天科技,航空,0.00,1.62,-0.02,-0.41,-148.87,-0.27,19.13,-0.75,-138.97,0.00
10,600343,航天动力,航空,424.27,2.67,0.00,-11.59,-37.01,0.15,15.40,1.06,-33.16,1132.80
11,600343,航天动力,航空,424.27,2.67,0.00,-11.59,-37.01,0.15,15.40,1.06,-33.16,1132.80
12,000768,中航飞机,航空,387.47,2.66,0.01,67.65,130.76,0.17,6.04,0.51,NaN,1030.67
13,600038,中直股份,航空,73.85,2.85,0.12,2.54,-0.49,0.96,14.18,3.30,-4.72,210.47
14,600372,中航电子,航空,0.00,3.17,-0.03,-0.83,-128.39,-0.84,28.67,-6.60,NaN,0.00

In [37]:
# 数据分类
def map_func(x):
    """
    作为 apply 函数的参数传入
    :param x: df 中一行或一列数据，取决于 apply 函数的参数 axis
    :return: 将每个计算结果组合，返回一个 series
    """
    if x['ROE'] > 5:
        return '高成长'
    elif x['ROE'] >= 0:
        return '低成长'
    elif x['ROE'] < 0:
        return '亏损'
    
# 根据 ROE 数据计算“成长性”
data['成长性'] = data.apply(map_func, axis=1)
data

,代码,名称,行业,PE,PB,EPS,收入%,利润%,ROE,毛利率,净利率,NI%,估值系数,成长性
0,002023,海特高新,航空,63.52,2.61,0.05,0.96,229.91,1.02,40.84,34.75,475.94,165.79,低成长
1,600118,中国卫星,航空,89.96,4.12,0.05,13.63,3.27,1.14,14.63,4.71,10.24,370.64,低成长
2,002111,威海广泰,航空,20.03,1.54,0.13,15.45,24.30,1.91,35.96,13.26,22.13,30.85,低成长
3,000738,航发控制,航空,67.64,3.03,0.05,-2.62,58.93,1.11,29.49,10.55,61.33,204.95,低成长
4,600893,航发动力,航空,0.00,1.97,-0.03,1.80,36.03,-0.22,18.08,-2.07,NaN,0.00,亏损
5,300424,航新科技,航空,638.20,5.56,0.01,-4.52,7.44,0.21,43.86,2.59,0.04,3548.39,低成长
6,600879,航天电子,航空,44.39,1.54,0.04,9.53,10.17,0.86,16.17,3.73,14.39,68.36,低成长
7,600391,航发科技,航空,0.00,2.61,-0.04,-3.38,-465.28,-0.65,20.53,-3.03,NaN,0.00,亏损
8,600316,洪都航空,航空,0.00,1.32,-0.03,-52.33,27.31,-0.42,6.73,-10.41,NaN,0.00,亏损
9,000901,航天科技,航空,0.00,1.62,-0.02,-0.41,-148.87,-0.27,19.13,-0.75,-138.97,0.00,亏损
10,600343,航天动力,航空,424.27,2.67,0.00,-11.59,-37.01,0.15,15.40,1.06,-33.16,1132.80,低成长
11,600343,航天动力,航空,424.27,2.67,0.00,-11.59,-37.01,0.15,15.40,1.06,-33.16,1132.80,低成长
12,000768,中航飞机,航空,387.47,2.66,0.01,67.65,130.76,0.17,6.04,0.51,NaN,1030.67,低成长
13,600038,中直股份,航空,73.85,2.85,0.12,2.54,-0.49,0.96,14.18,3.30,-4.72,210.47,低成长
14,600372,中航电子,航空,0.00,3.17,-0.03,-0.83,-128.39,-0.84,28.67,-6.60,NaN,0.00,亏损